{%extends 'awards/base.html'%}
{% block content %}
<div class="container mt-5 border-left border-right project-font" style="color: black;">
	<div class="row mt-4">
		<div class="col-md-6 border-right">
			<div class="ml-5">
				<h2 class="text-center font-weight-bold">PROJECT</h2>
				<div id="myCarousel" class="carousel slide mt-5 mb-5" data-interval="3000" data-ride="carousel"
				     style="width: 90%;">
				
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="{{ project.image.url }}" alt="First Slide" style="max-width: 100%;">
							<div class="carousel-caption d-none d-md-block">
								<h5>Project Image</h5>
								<p>{{ project.sitename }} by {{ project.user }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 text-center">
			<h2 class="text-center mt-5 font-weight-bold">RATINGS</h2>
			<hr style="width: 80px">
			<a href="">
				<button class="btn btn-lg btn-outline-info mt-3"> RATE IT</button>
			</a>
			
		
		<h5 class="text-center">No reviews have been made</h5>
		

	</div>
</div>
{% endblock %}